{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'moss' %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_media %}
    <style>
        .panes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .pane {
            padding: 20px;
        }
    </style>
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(function () {
            $('.contest-moss').click(function () {
                return confirm('{{ _('Are you sure you want to MOSS the contest?') }}');
            });
            $('.contest-moss-delete').click(function () {
                return confirm('{{ _('Are you sure you want to delete the MOSS results?') }}');
            });
        });
        function Compute_moss(){
            if(confirm('Bạn có chắc muốn cảnh cáo các tài khoản vi phạm? (Có thể khiến tài khoản bị khóa nếu vượt quá 5 lần vi phạm)')){
                const rows = document.querySelectorAll('.table.striped tbody tr');
                data = [];
                rows.forEach(row => {
                
                    const cells = row.querySelectorAll('td');
                    const rowData = {
                        problem: cells[0].innerText.trim(),
                        c: cells[1].querySelector('a') ? cells[1].querySelector('a').href : "No submission",
                        cpp: cells[2].querySelector('a') ? cells[2].querySelector('a').href : "No submission",
                        java: cells[3].querySelector('a') ? cells[3].querySelector('a').href : "No submission",
                        python: cells[4].querySelector('a') ? cells[4].querySelector('a').href : "No submission",
                        pascal: cells[5].querySelector('a') ? cells[5].querySelector('a').href : "No submission",
                        moss: cells[6].querySelector('input').value.trim() 
                    };
                    data.push(rowData);
                });
                var csrftoken = '{{ csrf_token }}';
                fetch(`moss/calculate`, {
                  method: 'POST',
                  headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => alert('Tính điểm thành công'))
                .catch((error) => alert('Tính điểm thất bại'));
            }
        }
        function Export_moss(){
            if(confirm('{{ _('Do you want to export MOSS results?') }}')){
                const rows = document.querySelectorAll('.table.striped tbody tr');
                data = [];
                rows.forEach(row => {
                
                    const cells = row.querySelectorAll('td');
                    const rowData = {
                        problem: cells[0].innerText.trim(),
                        c: cells[1].querySelector('a') ? cells[1].querySelector('a').href : "No submission",
                        cpp: cells[2].querySelector('a') ? cells[2].querySelector('a').href : "No submission",
                        java: cells[3].querySelector('a') ? cells[3].querySelector('a').href : "No submission",
                        python: cells[4].querySelector('a') ? cells[4].querySelector('a').href : "No submission",
                        pascal: cells[5].querySelector('a') ? cells[5].querySelector('a').href : "No submission",
                        moss: cells[6].querySelector('input').value.trim() 
                    };
                    data.push(rowData);
                });
                var csrftoken = '{{ csrf_token }}';
                fetch(`moss/export`, {
                  method: 'POST',
                  headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    alert('Xuất kết quả thành công')
                    console.log(data.Result)
                    window.location.href = `/moss/${data.Result}`
                })
                .catch((error) => alert('Xuất kết quả thất bại'));
            }
        }
    </script>
{% endblock %}
{% block body %}
    {% if has_results %}
        <table class="table striped">
            <thead>
            <tr>
                <th class="header">{{ _('Problem') }}</th>
                {% for lang in languages %}
                    <th class="header">{{ lang }}</th>
                {% endfor %}
                <th>% MOSS</th>
            </tr>
            </thead>
            <tbody>
                {% for problem, results in moss_results %}
                    <tr id="problem-{{ problem.code }}">
                        <td>
                            <a href="{{ url('problem_detail', problem.code) }}">{{ problem.name }}</a>
                        </td>
                        {% for result in results %}
                            <td>
                                {% if result.submission_count %}
                                    <a href="{{ result.url }}">{% trans trimmed count=result.submission_count %}
                                        {{ count }} submission
                                    {% pluralize %}
                                        {{ count }} submissions
                                    {% endtrans %}</a>
                                {% else %}
                                    {{ _('No submissions') }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td><input type="number" value="100"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
    <div class="panes">
        <div class="pane">
            <form method="post" action="{{ url('contest_moss', contest.key) }}">
                {% csrf_token %}
                <input type="submit" class="unselectable button full contest-moss" style="padding: 10px;"
                       value="{% if has_results %} {{ _('Re-MOSS contest') }} {% else %} {{ _('MOSS contest') }} {% endif %}">
            </form>
        </div>
        {% if has_results %}
            <div class="pane">
                <form method="post" action="{{ url('contest_moss_delete', contest.key) }}">
                    {% csrf_token %}
                    <input type="submit" class="unselectable button full contest-moss-delete" style="padding: 10px;"
                           value="{{ _('Delete MOSS results') }}">
                </form>
            </div>
            <div class="pane">
                <button class="unselectable button full" style="padding: 10px;" onclick="Compute_moss()">Cảnh cáo gian lận</button>
            </div>       
            <div class="pane">
                <button class="unselectable button full" style="padding: 10px;" onclick="Export_moss()">Export as excel</button>
            </div>        
        {% endif %}
    </div>
{% endblock %}
